<div class="container">
    <h1>Community</h1>
    <!--<h2>Reach Out</h2>-->
    <div>
        <ul class="row list-unstyled plglt-community-twitter">
            <li class="col-sm-4 plglt-community-twitter-account">
                <h2><a href="http://twitter.com/polyglotconf">@polyglotconf</a></h2>
            </li>
            <li class="col-sm-4 plglt-community-meetup-twitter">
                <h2><a href="http://meetup.com/PolyglotVancouver">Polyglot Meetup Group</a></h2>
            </li>
            <li class="col-sm-4 plglt-community-twitter-hashtag">
                <h2><a href="https://twitter.com/search?q=%23polyglotconf">#polyglotconf</a></h2>
            </li>
        </ul>
    </div>
    <h2>Organizers</h2>
    <h3>Active</h3>
    <div class="plglt-organizers row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-sm-offset-1">
            <div class="thumbnail">
                <a href="https://twitter.com/chrismnicola" title="@chrismnicola">
                    <img src="https://pbs.twimg.com/profile_images/2486812035/1ukqizu7nn6wku7fme40_400x400.jpeg" alt="@chrismnicola" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/teanicola" title="@teanicola">
                    <img src="https://pbs.twimg.com/profile_images/1852909852/1-IMGP5718_400x400.jpg" alt="@teanicola" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/tavisrudd" title="@tavisrudd">
                    <img src="https://pbs.twimg.com/profile_images/2097861909/hat_400x400.jpg" alt="@tavisrudd" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/saemg" title="@saemg">
                    <img src="https://pbs.twimg.com/profile_images/3329311334/ca5e1745fbfa23f7be098dff95a7fab7_400x400.jpeg" alt="@saemg" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/mrtn_su" title="@mrtn_su">
                    <img src="https://pbs.twimg.com/profile_images/424772720765571073/VUtKxT-r_400x400.jpeg" alt="@mrtn_su" class="img-responsive img-circle">
                </a>
            </div>
        </div>
    </div>
    <h3>Alumni &hearts;</h3>
    <div class="plglt-organizers plglt-organizers-alumni row">
        <div class="col-xs-3 col-sm-2 col-md-2 col-sm-offset-3">
            <div class="thumbnail">
                <a href="https://twitter.com/bmann" title="@bmann (alumni)">
                    <img src="https://pbs.twimg.com/profile_images/563202387070836736/LsVc9CEf_400x400.jpeg" alt="@bmann" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/mstopham" title="@mstopham (alumni)">
                    <img src="https://pbs.twimg.com/profile_images/474268803174367232/bHrnb0Ec_400x400.jpeg" alt="@mstopham" class="img-responsive img-circle">
                </a>
            </div>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2">
            <div class="thumbnail">
                <a href="https://twitter.com/snayagar" title="@snayagar (alumni)">
                    <img src="https://pbs.twimg.com/profile_images/1898855099/Profile_400x400.JPG" alt="@snayagar" class="img-responsive img-circle">
                </a>
            </div>
        </div>
    </div>
    <h2>Conference Participants</h2>
    <div>
        <div class="lanyrd-target-participants plglt-participants-lanyrdattendeelist">
            <a href="http://lanyrd.com/2015/polyglotconf/attendees/"
               class="lanyrd-participants"
               data-lanyrd-iframe
               data-lanyrd-nolink
               data-lanyrd-nocss>
                Attendee list for Polyglot Software Unconference 2015 on Lanyrd
            </a>
        </div>
        <p>
            <a href="http://lanyrd.com/2015/polyglotconf/attendees/"><span class="glyphicon glyphicon-lanyrd"></span>Mark your attendance on Lanyrd</a>
        </p>
    </div>
</div>
