<div class="container">
    <h1>Community</h1>
    <h2>Reach Out</h2>
    <div>
        <ul class="row list-unstyled plglt-community-twitter">
            <li class="col-sm-4 plglt-community-twitter-account">
                <h2><a href="http://twitter.com/polyglotconf">@polyglotconf</a></h2>
            </li>
            <li class="col-sm-4 plglt-community-meetup-twitter">
                <h2><a href="http://meetup.com/PolyglotVancouver">Polyglot Meetup Group</a></h2>
            </li>
            <li class="col-sm-4 plglt-community-twitter-hashtag">
                <h2><a href="https://twitter.com/search?q=%23polyglotconf">#polyglotconf</a></h2>
            </li>
        </ul>
    </div>
    <h2>Conference Participants</h2>
    <div>
        <div class="lanyrd-target-participants plglt-participants-lanyrdattendeelist">
            <a href="http://lanyrd.com/2014/polyglot2014/attendees/"
               class="lanyrd-participants"
               data-lanyrd-iframe
               data-lanyrd-nolink
               data-lanyrd-nocss>
                Attendee list for Polyglot Software Unconference 2014 on Lanyrd
            </a>
        </div>
        <p>
            <a href="http://lanyrd.com/2014/polyglot2014/attendees/"><span class="glyphicon glyphicon-lanyrd"></span>Mark your attendance on Lanyrd</a>
        </p>
    </div>
</div>
