<div class="container">
    <h1>Conference <small>Saturday May 28</small></h1>
    <h2>Open Space</h2>
    <div>
        <p>
            Open-space conferences are spontaneously scheduled 100%
            attendee driven. Sessions will be proposed, selected and
            organized at the opening the conference but we encourage
            attendees to suggest and discuss ideas in advance.
        </p>
        <p>
            For now, you can use the <a href="https://twitter.com/search?q=%23polyglotconf">#polyglotconf</a> hashtag or tweet your
            ideas <a href="https://twitter.com/polyglotconf">@polyglotconf</a> and we will share them with other
            attendees.
        </p>
    </div>
    <h2>Schedule</h2>
    <table class="table table-striped">
        <tbody>
            <tr><td class="schedule-time">08:00 AM</td><td class="schedule-item">Registration Starts</td></tr>
            <tr><td class="schedule-time">08:45</td><td class="schedule-item">Opening and Introduction (Theatre Room C300)</td></tr>
            <tr><td class="schedule-time">09:15</td><td class="schedule-item">Session Pitching and Voting</td></tr>
            <tr><td class="schedule-time">10:00</td><td class="schedule-item">Lightning Talks</td></tr>
            <tr><td class="schedule-time">10:30</td><td class="schedule-item">Session 1</td></tr>
            <tr><td class="schedule-time">11:30</td><td class="schedule-item">Session 2</td></tr>
            <tr><td class="schedule-time">12:15 PM</td><td class="schedule-item">Lunch</td></tr>
            <tr><td class="schedule-time">01:30</td><td class="schedule-item">Session 3</td></tr>
            <tr><td class="schedule-time">02:30</td><td class="schedule-item">Session 4</td></tr>
            <tr><td class="schedule-time">03:30</td><td class="schedule-item">Session 5</td></tr>
            <tr><td class="schedule-time">04:30</td><td class="schedule-item">Closing Remarks (Theatre Room C300)</td></tr>
            <tr><td class="schedule-time">05:30</td><td class="schedule-item">Social at Steamworks</td></tr>
        </tbody>
    </table>

    <!--
    <h2>Rooms</h2>
    <table class="table table-striped">
        <tbody>
        <tr><td class="room-name col-md-4">Active State Stackato Theatre</td><td class="room-number">Room 470</td></tr>
        <tr><td class="room-name col-md-4">ACL Meeting Room</td><td class="room-number">Room 370</td></tr>
        <tr><td class="room-name col-md-4">Colligo Boardroom</td><td class="room-number">Room 380</td></tr>
        <tr><td class="room-name col-md-4">Mozilla Boardroom</td><td class="room-number">Room 480</td></tr>
        <tr><td class="room-name col-md-4">Plenty of Fish Theatre</td><td class="room-number">Room 420</td></tr>
        <tr><td class="room-name col-md-4">Twillio Concourse</td><td class="room-number">Concourse</td></tr>
        <tr><td class="room-name col-md-4">Venture Media Meeting Room</td><td class="room-number">Room 320</td></tr>
        </tbody>
    </table>
    -->

    <h2>Social</h2>
    <p>There will be a social gathering at Steamworks immediately following the Conference.</p>
    <p>Complimentary food and refreshments will be available throughout the night to keep the conversations going.</p>

    <h2>Conference Tickets</h2>
    <div>
        <p><a href="https://www.eventbrite.ca/e/polyglot-unconference-2016-tickets-24705404530">Tickets are here</a></p>
    </div>
</div>
