<div class="container">
    <h1>Conference <small>Saturday May 24</small></h1>
    <h2>Tickets</h2>
    <div>
        <iframe src="https://www.picatic.com/events/widget/27780?utm_source=promotion&utm_medium=widget&utm_campaign=27780&width=auto" frameborder="0" style="display:block;height:270px;max-width:none;width:100%;"></iframe>
    </div>
    <h2>Schedule</h2>
    <div>
        <p>
            Open-space conferences are spontaneously scheduled 100%
            attendee driven. Sessions will be proposed, selected and
            organized at the opening the conference but we encourage
            attendees to suggest and discuss ideas in advance.
        </p>
        <p>
            For now, you can use the <a href="https://twitter.com/search?q=%23polyglotconf">#polyglotconf</a> hashtag or tweet your
            ideas <a href="https://twitter.com/polyglotconf">@polyglotconf</a> and we will share them with other
            attendees.
        </p>
    </div>
</div>