<div class="container">
    <h1>Sponsors</h1>
    <div>
        <h2>Sponsor the Polyglot Conference</h2>
        <p>
            The Polyglot Conference is made possible by our generous
            sponsors. If you are interested in sponsorship opportunities
            please contact us at <a
                    href="mailto:sponsors@polyglotconf.com" target="_top">sponsors@polyglotconf.com</a>.
        </p>
        <h2>Volunteer at the Polyglot Conference</h2>
        <p>
            If you are interested in helping out and volunteering at the
            conference, please contact us at <a
                    href="mailto:volunteers@polyglotconf.com" target="_top">volunteers@polyglotconf.com</a>.
        </p>
    </div>
</div>