<div class="container">
    <h1>Sponsors</h1>

    <div class="row sponsors">
        <div class="row sponsors-platinum">
            <h2>Platinum</h2>
            <div class="col-xs-5 col-xs-offset-1 sponsor">
                <a href="https://paybyphone.com"><img class="img-responsive center-block" src="/images/sponsors/paybyphone.png"></a>
            </div>
            <div class="col-xs-5 sponsor">
                <a href="https://www.salesforce.com"><img class="img-responsive center-block" style="max-width: 280px;" src="/images/sponsors/salesforce.png"></a>
            </div>

        </div>
        <div class="row sponsors-gold">
            <h2>Gold</h2>
            <div class="col-xs-5 col-xs-offset-4 sponsor">
                <a href="https://www.demonware.net/"><img class="img-responsive center-block" style="margin-left: -12%;" src="/images/sponsors/demonware.png"></a>
            </div>
        </div>

        <div class="row sponsors-silver">
            <h2>Silver</h2>
            <div class="col-xs-4 col-xs-offset-2 sponsor">
                <a href="https://www.goclio.com/"><img class="img-responsive center-block" src="/images/sponsors/clio.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.pof.com/"><img class="img-responsive center-block" style="margin-top:8px;" src="/images/sponsors/plentyoffish.png"></a>
            </div>
        </div>

        <div class="row sponsors-bronze">
            <h2>Bronze</h2>
            <div class="col-xs-4 col-xs-offset-4 sponsor">
                <a href="http://www.mobify.com/"><img class="img-responsive center-block" src="/images/sponsors/mobify.png"></a>
            </div>
        </div>
        <div class="row sponsors-community">
            <h2>Community</h2>
            <div class="col-xs-3 col-xs-offset-1 sponsor">
                <a href="http://www.unbounce.com/"><img class="img-responsive center-block" src="/images/sponsors/unbounce.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.steamclock.com/"><img class="img-responsive center-block" style="margin-top: 20px;" src="/images/sponsors/steamclock.png"></a>
            </div>
            <div class="col-xs-3 sponsor">
                <a href="http://www.pearlfishergroup.com/"><img class="img-responsive center-block" src="/images/sponsors/pearl-fisher-group.jpg"></a>
            </div>
        </div>
    </div>

    <div class="row sponsors-blurb">
        <div class="col-xs-12">
            <p>The Polyglot Conference is made possible by our generous sponsors and volunteers.</p>

            <p>If you are interested in sponsorship opportunities please contact us at <a href="mailto:sponsors@polyglotconf.com" target="_top">sponsors@polyglotconf.com</a>.</p>

            <h2>Volunteer at the Polyglot Conference</h2>

            <p>If you are interested in helping out and volunteering at the conference, please contact us at
                <a href="mailto:volunteers@polyglotconf.com" target="_top">volunteers@polyglotconf.com</a>.</p>
        </div>
    </div>
</div>