<div class="container">
    <h1>Sponsors</h1>

    <div class="sponsors">
        <div class="row sponsors-party">
            <div class="col-xs-6 sponsor">
                <a href="https://hootsuite.com/"><img class="img-responsive" src="/images/sponsors/hootsuite.png"></a>
            </div>
            <div class="col-xs-6 sponsor">
                <a href="https://www.demonware.net/"><img class="img-responsive" src="/images/sponsors/demonware.png"></a>
            </div>

        </div>
        <div class="row sponsors-coffee-lanyard">
            <div class="col-xs-6 sponsor">
                <a href="http://www.microsoft.com/"><img class="img-responsive" src="/images/sponsors/microsoft.png"></a>
            </div>
            <div class="col-xs-6 sponsor">
                <a href="https://www.goclio.com/"><img class="img-responsive" src="/images/sponsors/clio.png"></a>
            </div>
        </div>

        <div class="row sponsors-rooms">
            <div class="col-xs-4 sponsor">
                <a href="http://www.colligo.com/"><img class="img-responsive" src="/images/sponsors/colligo.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.pof.com/"><img class="img-responsive" src="/images/sponsors/plentyoffish.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://venturemedia.com/"><img class="img-responsive" src="/images/sponsors/venturemedia.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.activestate.com/"><img class="img-responsive" src="/images/sponsors/activestate.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.mozilla.org/en-US/"><img class="img-responsive" src="/images/sponsors/mozilla.png"></a>
            </div>
            <div class="col-xs-4 sponsor">
                <a href="http://www.twilio.com/"><img class="img-responsive" src="/images/sponsors/twilio.png"></a>
            </div>
            <div class="col-xs-4 sponsor col-xs-offset-4">
                <a href="http://www.acl.com/"><img class="img-responsive" src="/images/sponsors/acl.png"></a></div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-4 sponsor">
                <a href="http://www.mobify.com/"><img class="img-responsive" src="/images/sponsors/mobify.png"></a>
            </div>
            <div class="col-sm-3 col-xs-4 sponsor">
                <a href="http://www.openroad.ca/"><img class="img-responsive" src="/images/sponsors/openroad.png"></a>
            </div>
            <div class="col-sm-3 col-xs-4 sponsor">
                <a href="http://invokelabs.com/"><img class="img-responsive" src="/images/sponsors/invokelabs.png"></a>
            </div>
            <div class="col-sm-3 col-xs-4 col-xs-offset-4 col-sm-offset-0 sponsor">
                <a href="http://www.opendns.com/"><img class="img-responsive" src="/images/sponsors/opendns.png"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>
                The Polyglot Conference is made possible by our generous sponsors.</p>

            <p>If you are interested in sponsorship opportunities please contact us at
                <a href="mailto:sponsors@polyglotconf.com" target="_top">sponsors@polyglotconf.com</a>. </p>

            <h2>Volunteer at the Polyglot Conference</h2>

            <p>
                If you are interested in helping out and volunteering at the conference, please contact us at
                <a href="mailto:volunteers@polyglotconf.com" target="_top">volunteers@polyglotconf.com</a>. </p>
        </div>
    </div>
</div>