<div class="container">
    <h1>Venues</h1>
    <div class="row">
        <div class="col-xs-12">
            <h2>UBC Robson Square <small>Workshops and Conference</small></h2>
            <p>800 Robson St (between Hornby St and Howe St) Downtown Vancouver Canada</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Steamworks Brew Pub <small>Saturday Afterparty</small></h2>
            <p>The Landing, 375 Water St (at Richards St) Downtown Vancouver Canada</p>
        </div>
    </div>
</div>
