<div class="container">
    <h1>Venue</h1>
    <div class="row">
        <div class="col-xs-12">
            <h2>Conference: SFU Morris J Wosk Centre for Dialogue</h2>
            <p>580 West Hastings St (at Seymour St) Downtown Vancouver Canada</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 plglt-venue-image">
            <img src="/images/venue/venue-sfu-morrisjwosk.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 plglt-venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1301.2896558200332!2d-123.11282360000003!3d49.28436819999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54867172049f6077%3A0xf92e5016d1aae6a7!2sMorris+J+Wosk+Centre+for+Dialogue!5e0!3m2!1sen!2sca!4v1397460280461" width="400" height="176" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Workshops: SFU Harbour Centre</h2>
            <p>515 West Hastings Street (at Richards St) Downtown Vancouver Canada</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 plglt-venue-image">
            <img src="/images/venue/venue-sfu-harbourcentre.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 plglt-venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1301.2818878111168!2d-123.11210175!3d49.28466254999979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673e7bde5acdf%3A0x9f179f886a077be4!2sSimon+Fraser+University-Vancouver+Campus!5e0!3m2!1sen!2sca!4v1400454775037" width="400" height="176" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>
