<div class="container">
    <h1>Venue</h1>
    <div class="row">
        <div class="col-xs-12">
            <h2>UBC Robson Square <small>Workshops and Conference</small></h2>
            <p>800 Robson St (between Hornby St and Howe St) Downtown Vancouver Canada</p>
            <div class="visible-xs">
                <p>
                    <a href="https://maps.google.com/maps?ll=49.281859,-123.122172&z=16&t=m&hl=en-US&gl=CA&mapclient=embed&cid=13591289834342037072">View on Google Maps</a>.
                </p>
            </div>
            <p>Enter on "Plaza Level", immediately beside (west of) outdoor Skating Rink. Go downstairs to "Classroom Level". Refer to <a href="http://robsonsquare2.sites.olt.ubc.ca/files/2010/08/UBC-Robson-Square-Floor-Plan.png">floor plan</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 plglt-venue-image">
            <img src="/images/venue/venue-ubc-robsonsquare.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 plglt-venue-map hidden-xs">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1301.3494088697935!2d-123.12160307167882!3d49.282103958499775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717fec4f633f%3A0xbc9df6183755b650!2sUBC+Robson+Square!5e0!3m2!1sen!2sca!4v1432260906865" width="400" height="250" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-top: 25px;">
            <h2>Steamworks Brew Pub <small>Saturday Afterparty</small></h2>
            <p>The Landing, 375 Water St (at Richards St) Downtown Vancouver Canada</p>
            <div class="visible-xs">
                <p>
                    <a href="https://maps.google.com/maps?ll=49.284975,-123.110836&z=16&t=m&hl=en-US&gl=CA&mapclient=embed&cid=18199275471910539258">View on Google Maps</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 plglt-venue-image">
            <img src="/images/venue/venue-steamworks.jpg" class="img-responsive">
        </div>
        <div class="col-md-6 plglt-venue-map hidden-xs">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1301.2736420987007!2d-123.11082499999999!3d49.28497499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548671783f014c3f%3A0xfc90d09e28b50ffa!2sSteamworks!5e0!3m2!1sen!2sca!4v1432261256437" width="400" height="250" frameborder="0" style="border:0"></iframe>
        </div>
    </div>
</div>
