<div class="container">
    <h1>Vision</h1>
    <div class="col-xs-12">
        <p>The 4th annual Polyglot Unconference.</p>
        <p>Polyglot is a "non-denominational" software development un-conference event that encourages software developers from different stacks, backgrounds and with different opinions to come together for one day of spontaneous sharing, teaching and learning.</p>
    </div>
    <div class="col-sm-6">
        <h2>Polyglot</h2>
        <p>Polyglot software development is the practice of utilizing multiple languages, frameworks and stacks to build software.</p>
        <p>At the core of the Polyglot Conference is creating an opportunity to celebrate software development diversity and break away from typically language-specific user groups and conferences to come together to talk about the challenges and interests that we all have in common.</p>
    </div>
    <div class="col-sm-6">
        <h2>Unconference</h2>
        <p>What's an "un"-conference?</p>
        <p>Also called an "open space", an un-conference is a participant driven conference. Attendees will come together in the morning to propose conference topics and offer to lead and facilitate these talks, discussions, panels, coding dojos, and more. Open space events have an emphasis on spontaneous learning and sharing that differs from traditional conference formats. It's an experience like no other.</p>
    </div>
</div>