<div class="container">
    <h1>Vision</h1>
    <div>
        <p>This is our 3rd annual Polyglot Unconference and we promise it
            will be the biggest and best yet. This year over 250 software
            developers will leave language, platform and possibly even editor
            wars behind and come together for a spontaneously organized day of
            amazing talks, round-table discussions, panel sessions and
            coding.</p>

        <p>If you've never been to an un-conference (or open-space) event
            before your owe it to yourself to make it to Polyglot 2014.
            It's an experience like no other.</p>
    </div>
</div>