<div class="container">
    <h1>Workshops <small>Friday May 23</small></h1>
    <h2>Tickets</h2>
    <div>
        <p>Tutorial schedules and tickets will be available in early April.</p>
    </div>
    <h2>Schedule</h2>
    <div>
    <p>The call for tutorial/workshops is underway and will be open
        until March 23rd. If you are interested in running a tutorial
        or workshop, please
        <a href="https://docs.google.com/forms/d/1J61Qt9HfM8Ovmm0Qo6LERCLSikKrD-0eOTkYrGUDzAY/viewform">submit your workshop proposal here</a>.
    </p>
    <p>
        A full list of tutorials and ticket sales will be available early April.
    </p>
    </div>
</div>