<div class="container">
<h1>Workshops
    <small>Friday May 22</small>
</h1>
    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Monday March 23rd.</p>
        <!--If you are interested in running a tutorial
        or workshop, please
        <a href="">submit your workshop proposal here</a>.-->
    </div>
    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
    <h2>Schedule</h2>
    <div>
        <p>
            The workshop schedule of half-day and full-day workshops will be available in early April.
        </pc
    </div>
</div>