<div class="container">
    <h1>Workshops <small>Friday May 22</small></h1>

    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Tuesday March 31st.</p>
        <p>If you are interested in running a tutorial or workshop, please <a href="https://docs.google.com/forms/d/19hm_I-LV1IYD6LSUlS3D6mjqq5iUBDbqQ-wNy8pIWdI/viewform">submit your workshop proposal here</a>.</p>
    </div>

    <div class="row plglt-workshops-schedule">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <h2>Half Day Workshops: Morning <small>4 hours: 8AM to 12PM</small></h2>

                <!-- Workshop Abstract Sample Begin -->
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">The Functional Programming Mind Shift Using Haskell (Room ?) <span class="panel-title-instructor">with Casey Hawthorne</span></h3>
                        </a>
                    </div>
                    <div id="workshop-haskell" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>We all know we should be doing functional design and using a functional programming language since this makes software more reliable and easier to run on multi-core CPUs.
                                    We will be going through the mind set required to do functional programming and how it differs from imperative programming. 
                                    The higher abstraction level will be emphasized.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: Bring a laptop with the Haskell Platform installed and have some knowledge of imperative programming.</li>
                                        <li>Knowledge: Basic programming experience in one or two imperative languages.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Casey Hawthorne<alt="Casey Hawthorne">
                                    <p>Casey Hawthorne is a theoretician with over twenty years experience tutoring computer science, computer programming, calculus, linear algebra, and physics.   </p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!-- Workshop Abstract Sample End -->

                <h2>Half Day Workshops: Afternoon <small>4 hours: 1PM to 5PM</small></h2>


                <h2>Full Day Workshops <small>8 hours: 8AM to 5PM (1 hour lunch between 12PM and 1PM)</small></h2>

            </div>
        </div>
    </div>

    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
</div>
