<div class="container">
    <h1>Workshops <small>Friday May 22</small></h1>

    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Tuesday March 31st.</p>
        <p>If you are interested in running a tutorial or workshop, please <a href="https://docs.google.com/forms/d/19hm_I-LV1IYD6LSUlS3D6mjqq5iUBDbqQ-wNy8pIWdI/viewform">submit your workshop proposal here</a>.</p>
    </div>

    <div class="row plglt-workshops-schedule">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <h2>Half Day Workshops: Morning <small>4 hours: 8AM to 12PM</small></h2>

                <!-- Workshop Abstract Sample Begin -->
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">Writing Testable Software (Room 1600) <span class="panel-title-instructor">with Clifford Hammerschmidt</span></h3>
                        </a>
                    </div>
                    <div id="workshop-testable-software" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>We all know we should test the software we write, and yet many of us still write software that is
                                        difficult to test. In this tutorial we'll work through refactoring software to be easier to test
                                        and walk through examples of code written with testing in mind. Bring a laptop with either JDK
                                        1.7 or Visual Studio (with C#) installed and expect to write code and tests.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: Bring a laptop with either JDK 1.7 + your favourite editor/IDE or Visual Studio
                                            (C#)
                                        </li>
                                        <li>Knowledge: Basic programming experience in either platform</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Clifford (<a href="https://twitter.com/tangledbones">@tangledbones</a>)</h4>
                                    <img class="workshop-instructor-image" src="https://pbs.twimg.com/profile_images/460070717/skel_bigger.jpg" alt="Clifford Hammerschmidt">
                                    <p>Clifford Hammerschmidt is a software architect with over twenty years experience architecting and
                                        writing software. He currently works for Amazon and organizes the Vancouver Software Developers
                                        Meetup (<a href="http://vandev.org">vandev.org</a>). He has worked on business applications,
                                        anti-spam systems, games, low level concurrency libraries, and high volume application apis
                                        handling thousands of requests a second.</p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!-- Workshop Abstract Sample End -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">Building Event Driven Javascript Applications <span class="panel-title-instructor">with Keith Bingman</span></h3>
                        </a>
                    </div>
                    <div id="workshop-event-driven-software" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>
                                      Beginning with the Observer Pattern, jQuery and Twitter’s Flight.js and Facebook’s
                                      Flux Pattern, we will explore several approaches for creating simple and scalable
                                      applications in the browser. Along the way, we will learn how to build independent
                                      components that communicate with one another using events and explore various
                                      patterns for translating data into scalable, modular web applications. We will
                                      attempt to not drown in a sea of event soup, learn ways to organize and tame our
                                      code and ultimately build simple, clear and reusable modules.
                                    </p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: Students should bring a laptop, with Chrome, a text editor
                                          and a working node.js environment, including NPM
                                        </li>
                                        <li>Knowledge: A basic knowledge of Javascript and experience with jQuery</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Keith (<a href="https://twitter.com/kbingman">@kbingman</a>)</h4>
                                    <img class="workshop-instructor-image" src="https://http://photos1.meetupstatic.com/photos/member/4/5/1/c/member_106877692.jpeg" alt="Keith Bingman">
                                    <p>Keith has worked as a web developer for almost fifteen years, since he
                                      took responsibility for the website at the photo studio where he was
                                      working. Recently arrived in Vancouver from Germany, he has been writing
                                      Javascript every waking moment at Wantering, a fashion search platform
                                      in Vancouver. </p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>Half Day Workshops: Afternoon <small>4 hours: 1PM to 5PM</small></h2>


                <h2>Full Day Workshops <small>8 hours: 8AM to 5PM (1 hour lunch between 12PM and 1PM)</small></h2>

            </div>
        </div>
    </div>

    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
</div>
