<div class="container">
    <h1>Workshops <small>Friday May 22</small></h1>

    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Tuesday March 31st.</p>
        <p>If you are interested in running a tutorial or workshop, please <a href="https://docs.google.com/forms/d/19hm_I-LV1IYD6LSUlS3D6mjqq5iUBDbqQ-wNy8pIWdI/viewform">submit your workshop proposal here</a>.</p>
    </div>

    <div class="row plglt-workshops-schedule">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <h2>Half Day Workshops: Morning <small>4 hours: 8AM to 12PM</small></h2>

                <!-- "International" Workshop Abstract Begin -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-international">
                            <h3 class="panel-title">What Every Developer Should Know About "International" <span class="panel-title-instructor">with Jim DeLaHunt</span></h3>
                        </a>
                    </div>
                    <div id="workshop-international" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>Our markets are multilingual and international. Localizing our software for other
                                    languages and markets is no longer an afterthought, delegated to the high priests of
                                    the "international" department. Every software engineer is now expected to know the 
                                    basics of preparing software for translation, Unicode, locales, and so on.</p>

                                    </p>This workshop is for the general software engineer, by one of the high priests. 
                                    It will walk you through the most important concepts and technologies of "international" 
                                    which you, as a well-rounded software engineer, are now expected to know. There will be 
                                    plenty of time to dive deep on the topics which are important to you know, be it UTF-8 
                                    vs UTF-16 or how to test for translatability.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: <i>(Optional)</i> Bring a laptop with your favourite rapid coding 
                                        environment for byte strings and bits: Python, Ruby, Visual BASIC, it's all good. 
                                        There will be a chance to prototype code to parse mystery data byte by byte and 
                                        bit by bit.</li>
                                        <li><i>(Alternative)</i> You will be able to make useful progress on a prototype
                                        using your brain, a caculator, and a hex dump I'll supply.</li>
                                        <li>Knowledge: Journeyman software development for commercial or widely used 
                                        open source products. Experience or expertise with localizing or international is 
                                        <i>not</i> required, but if you've been thrown into it unprepared, you'll appreciate
                                        the lessons of the workshop more.</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Jim (<a href="https://jdlh.com/">jdlh.com</a>, )</h4>
                                    <img class="workshop-instructor-image" src="http://jdlh.com/images/stories/jim%20delahunt%20jdlh-com%20i1937.sm.jpg" alt="Jim DeLaHunt">
                                    <p>Jim DeLaHunt is a Vancouver, Canada-based software engineer and
                                    consultant in multilingual websites, and a seasoned software developer
                                    and manager. He helped found <a href="https://www.linkedin.com/grp/home?gid=6805530"><B>VanGLUG</B>, the Vancouver Globalization 
                                    and Localization Users Group</a>. 
                                    He is an active participant in several free software and
                                    open data projects, in addition to consulting work with Canadian and US
                                    tech companies. He is a regular Unicode conference participant. Earlier,
                                    he worked 16 years in Silicon Valley for Adobe Systems.  Jim is a
                                    licensed paraglider and airplane pilot, and sings tenor with an opera
                                    company and a chorus in Vancouver.  You can contact Jim at
                                    <a href="http://jdlh.com/">jdlh.com</a>, or <a href="https://twitter.com/jdlh">@jdlh on Twitter</a>.</p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- "International" Workshop Abstract End -->

                <h2>Half Day Workshops: Afternoon <small>4 hours: 1PM to 5PM</small></h2>

                <h2>Full Day Workshops <small>8 hours: 8AM to 5PM (1 hour lunch between 12PM and 1PM)</small></h2>

            </div>
        </div>
    </div>

    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
</div>
