<div class="container">
    <h1>Workshops <small>Friday May 22</small></h1>

    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Tuesday March 31st.</p>
        <p>If you are interested in running a tutorial or workshop, please <a href="https://docs.google.com/forms/d/19hm_I-LV1IYD6LSUlS3D6mjqq5iUBDbqQ-wNy8pIWdI/viewform">submit your workshop proposal here</a>.</p>
    </div>

    <div class="row plglt-workshops-schedule">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <h2>Half Day Workshops: Morning <small>4 hours: 8AM to 12PM</small></h2>

                <!-- Workshop Abstract Sample Begin -->
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">Writing Testable Software (Room 1600) <span class="panel-title-instructor">with Clifford Hammerschmidt</span></h3>
                        </a>
                    </div>
                    <div id="workshop-testable-software" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>We all know we should test the software we write, and yet many of us still write software that is
                                        difficult to test. In this tutorial we'll work through refactoring software to be easier to test
                                        and walk through examples of code written with testing in mind. Bring a laptop with either JDK
                                        1.7 or Visual Studio (with C#) installed and expect to write code and tests.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: Bring a laptop with either JDK 1.7 + your favourite editor/IDE or Visual Studio
                                            (C#)
                                        </li>
                                        <li>Knowledge: Basic programming experience in either platform</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Clifford (<a href="https://twitter.com/tangledbones">@tangledbones</a>)</h4>
                                    <img class="workshop-instructor-image" src="https://pbs.twimg.com/profile_images/460070717/skel_bigger.jpg" alt="Clifford Hammerschmidt">
                                    <p>Clifford Hammerschmidt is a software architect with over twenty years experience architecting and
                                        writing software. He currently works for Amazon and organizes the Vancouver Software Developers
                                        Meetup (<a href="http://vandev.org">vandev.org</a>). He has worked on business applications,
                                        anti-spam systems, games, low level concurrency libraries, and high volume application apis
                                        handling thousands of requests a second.</p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!-- Workshop Abstract Sample End -->

                <!-- Science-Driven Decision Making Start -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">Science-Driven Decision Making<span class="panel-title-instructor"> with Elena Popovici</span></h3>
                        </a>
                    </div>
                    <div id="workshop-testable-software" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>Every week the news around us are full of "scientific" life/business advice.  "Coffee is good for you" - "Coffee is bad for you" - "Mozart's music makes you smarter" - "Multitasking makes you stupid" - "Your Late-Night Emails Are Hurting Your Team" - the list goes on and on. In this workshop we will cover the important scientific and statistical concepts you need to understand in order to separate the wheat from the chaff. You will learn how to dissect the information being presented, determine what it claims, and judge the strength of the evidence brought in support of the claims. The content is intended for a wide audience. Technical jargon will be kept to a minimum and explained. No "scary" math. We will use a lot of real-world examples (i.e. actual news stories and scientific studies) to illustrate the concepts and to practice on during the workshop.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Knowledge: None. This class is for you if: </li>
                                            <ul>
                                                <li>you've never taken a statistics class (and may be intimidated by topic)</li>
                                                <li>you have, but it's been too long and you've never applied it anyway</li>
                                                <li>you thought only scientists need to learn statistics</li>
                                                <li>you heard "Data Scientist" is a high-prospects job and want to move into the field, but don't know where to start</li>
                                                <li>or, you simply want to make better decisions</li>
                                            </ul>
                                        <li>Materials: You may want to bring a laptop, though this is not required.</li>
                                    </ul>
                                    
                                    <h4>Syllabus</h4>
                                    <a href="https://gist.github.com/elena-popovici/a459f95bd50707874925">Here.</a>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About the instructor</h4>
                                    <img class="workshop-instructor-image" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAALEAAAAJDAyODM4MDc4LWNlNjEtNDQ2YS05NTRmLWFkZGU5NTA1MmJkNw.jpg" height=100 width=100/>
                                    <p><a href="http://ca.linkedin.com/in/popovicielena">Elena</a> is a computer scientist (B.S., M.S., Ph.D.) with over 8 years experience in a predictive analytics consultancy, doing data analysis, visualization, modeling and simulation, and optimization. She has applied a breadth of computer science techniques to a variety of domains including engineering design, text mining and visualization, contextual advertising, route optimization, strategic portfolio planning, consumer decision making, etc. She has been conducting theoretical and applied research for over 15 years, with a focus on evolutionary computation and optimization. She has won multiple best-paper awards for her publications, awards in algorithm and programming competitions and merit scholarships during her academic studies. Elena has also given many talks and taught a couple of tutorials at international scientific conferences, spoken on <a href="http://www.icosystem.com/data-analysis-and-visualization-medicare-case-study/">data analysis at local meetup groups</a>, designed and recorded <a href="http://www.icosystem.com/misc/thank-you-for-your-interest-in-our-strategic-portfolio-modeling-spm-video-series/"> software-tutorial screencasts</a> and was a teaching assistant and instructor for graduate level computer science courses.</p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Science-Driven Decision Making End -->

                <h2>Half Day Workshops: Afternoon <small>4 hours: 1PM to 5PM</small></h2>


                <h2>Full Day Workshops <small>8 hours: 8AM to 5PM (1 hour lunch between 12PM and 1PM)</small></h2>

            </div>
        </div>
    </div>

    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
</div>