<div class="container">
    <h1>Workshops <small>Friday May 22</small></h1>

    <h2>Propose a Workshop</h2>
    <div>
        <p>The call for tutorials/workshops is under way and will be open until Tuesday March 31st.</p>
        <p>If you are interested in running a tutorial or workshop, please <a href="https://docs.google.com/forms/d/19hm_I-LV1IYD6LSUlS3D6mjqq5iUBDbqQ-wNy8pIWdI/viewform">submit your workshop proposal here</a>.</p>
    </div>

    <div class="row plglt-workshops-schedule">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion">
                <h2>Half Day Workshops: Morning <small>4 hours: 8AM to 12PM</small></h2>

                <!-- Workshop Abstract Sample Begin -->
                <!--
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-testable-software">
                            <h3 class="panel-title">Writing Testable Software (Room 1600) <span class="panel-title-instructor">with Clifford Hammerschmidt</span></h3>
                        </a>
                    </div>
                    <div id="workshop-testable-software" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>

                                    <p>We all know we should test the software we write, and yet many of us still write software that is
                                        difficult to test. In this tutorial we'll work through refactoring software to be easier to test
                                        and walk through examples of code written with testing in mind. Bring a laptop with either JDK
                                        1.7 or Visual Studio (with C#) installed and expect to write code and tests.</p>

                                    <h4>Prerequisites</h4>
                                    <ul>
                                        <li>Materials: Bring a laptop with either JDK 1.7 + your favourite editor/IDE or Visual Studio
                                            (C#)
                                        </li>
                                        <li>Knowledge: Basic programming experience in either platform</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Clifford (<a href="https://twitter.com/tangledbones">@tangledbones</a>)</h4>
                                    <img class="workshop-instructor-image" src="https://pbs.twimg.com/profile_images/460070717/skel_bigger.jpg" alt="Clifford Hammerschmidt">
                                    <p>Clifford Hammerschmidt is a software architect with over twenty years experience architecting and
                                        writing software. He currently works for Amazon and organizes the Vancouver Software Developers
                                        Meetup (<a href="http://vandev.org">vandev.org</a>). He has worked on business applications,
                                        anti-spam systems, games, low level concurrency libraries, and high volume application apis
                                        handling thousands of requests a second.</p>
                                    <h4 class="workshop-buytickets-heading"><a href="https://www.picatic.com/polyglot-software-workshops">Buy Tickets</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!-- Workshop Abstract Sample End -->

                <h2>Half Day Workshops: Afternoon <small>4 hours: 1PM to 5PM</small></h2>


                <h2>Full Day Workshops <small>8 hours: 8AM to 5PM (1 hour lunch between 12PM and 1PM)</small></h2>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#workshop-full-stack-testing">
                            <h3 class="panel-title">Full. Stack. Testing. (with JavaScript)
                                <span class="panel-title-instructor">with Ryan Roemer</span>
                            </h3>
                        </a>
                    </div>
                    <div id="workshop-full-stack-testing" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6 workshop-abstract">
                                    <h4>Abstract</h4>
                                    <p>
                                        Modern application testing faces so many options for frontend, backend, and integration tests that developers can be overwhelmed in a sea of choices and technologies. As a take on "full-stack" development, we will explore full-stack testing -- using a single stack of core techniques and libraries that offer a cogent, minimal way to "test all the things" in your application.
                                    </p>
                                    <p>
                                        Our workshop will explore what types of tests you should write and how to write them, with a focus on:
                                    </p>
                                    <ul>
                                        <li><em>Backend Tests</em>: Server code, network payloads.</li>
                                        <li><em>Frontend Tests</em>: UI/UX and browser code.</li>
                                        <li><em>Integration Tests</em>: Automating end-to-end user interactions with the full application.</li>
                                    </ul>
                                    <p>
                                        We will walk through unified test framework with Mocha / Chai / Sinon.JS and complete targeted test exercises while learning practical guidelines and best practices. If time permits, we will cover advanced topics like code coverage, CI, etc.
                                    </p>
                                    <p>
                                        If you have a web application and are wondering, "how do I start testing this?", then this workshop is for you. And even if you have a backend in a non-JavaScript language, we'll cover principles, techniques, and technologies that will apply to backends written in any language.
                                    </p>

                                    <h4>Prerequisites</h4>
                                    <p>
                                        Please follow the installation and verification instructions at:
                                        <a href="http://full-stack-testing.formidablelabs.com/#installation">
                                            full-stack-testing.formidablelabs.com/#installation</a>.
                                        You'll want to walk into the workshop with:
                                    </p>
                                    <ul>
                                        <li>
                                            A laptop with a good text editor and a web browser (preferably Chrome).
                                        </li>
                                        <li>
                                            <em>Software</em>: Git, Node.js/NPM, and Java. (Per installation guide).
                                        </li>
                                        <li>
                                            <em>Project</em>:
                                            Clone the repository
                                            <a href="https://github.com/FormidableLabs/full-stack-testing">
                                                github.com/FormidableLabs/full-stack-testing</a>
                                            and verify. (Per installation guide).
                                        </li>

                                    </ul>
                                    <p>
                                        Attendees should be familiar with basic JavaScript programming and hopefully jQuery.
                                        Test development experience (unit, integration) in any language is useful, but not necessary.
                                    </p>

                                    <h4>Syllabus</h4>
                                    <p>
                                        <a href="https://gist.github.com/ryan-roemer/5500a1048717b517f6b5#file-syllabus-md">gist.github.com/ryan-roemer/5500a1048717b517f6b5#file-syllabus-md</a>
                                    </p>

                                </div>
                                <div class="col-sm-6 workshop-instructor-bio">
                                    <h4>About Ryan (<a href="https://twitter.com/ryan_roemer">@ryan_roemer</a>)</h4>
                                    <img class="workshop-instructor-image" src="https://pbs.twimg.com/profile_images/456797323536789504/mOrYbqkA.jpeg" alt="Ryan Roemer">
                                    <p>
                                        Ryan is the CTO and co-founder of <a href="http://formidablelabs.com/">Formidable Labs</a>, a boutique development shop in (the delightfully weird neighborhood of) Fremont in Seattle, WA. He helps lead the <a href="http://www.meetup.com/Seattle-Node-js/">Seattle Node.js Meetup</a>, curates the Server Day for <a href="http://2015.cascadiajs.com/">Cascadia JSFest 2015</a>, and is the author of "<a href="http://www.amazon.com/Backbone-js-Testing-Ryan-Roemer/dp/178216524X">Backbone.js Testing</a>", a comprehensive test development guide for modern Backbone.js web applications.
                                    </p>
                                    <p>
                                        Ryan architects full-stack applications and backend Node.js services, and leads frontend development groups ranging from small startups to Fortune 500 engineering teams. Previously, Ryan was a distributed systems engineer, and in his deep, dark past was a patent attorney, although it has been a long time since he has put on his "lawyer" hat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <h2>Tickets</h2>
    <div>
        <p>Workshop tickets will be available for sale in early April.</p>
    </div>
</div>